@media (max-width: 481px) {
    /* Card Login */

    .body-login{
        display: flex;
        flex-direction: column;
        .card-login{
            display: flex;
            flex-direction: column;
            height: 50dvh;
            transition: filter 1s ease;
            

            &.show-register{
            filter: invert(1);
            
                .form-login,
                .form-register{
                    transform: translateY(-100%);
                }
            }

            .form-login,
            .form-register{
                width: 100%;
            }

            .form-login{
                bottom: 0;
            }

            .form-register{
                bottom: -100%;
                left: 0;
            }
    
            & img{
                display: none;
            }
        }
    }

    .body-index{
        grid-template-columns: 1fr; 
        grid-template-rows: 5rem 1fr auto; 
        grid-template-areas:
            "header"
            "main"
            "footer";

        & nav{
            display: none;
        }

        & main{
            .card-gruop {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                place-items: center;
                gap: 1.5rem;
            }
        }
    }
}