@media (max-width: 481px) {
    /* Card Login */

    .body-login{
        display: flex;
        flex-direction: column;
        .card-login{
            display: flex;
            flex-direction: column;
            height: 50dvh;
            transition: filter 1s ease;
            

            &.show-register{
            filter: invert(1);
            
                .form-login,
                .form-register{
                    transform: translateY(-100%);
                }
            }

            .form-login,
            .form-register{
                width: 100%;
            }

            .form-login{
                bottom: 0;
            }

            .form-register{
                bottom: -100%;
                left: 0;
            }
    
            & img{
                display: none;
            }
        }
    }

}