<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guru's Learn</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/components.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <style type="text/tailwindcss">
      /* @theme {
        --bg-base-w: #F4EFFA;
        --bg-base-d: #2F184B;

        --text-base-w: #F4EFFA;
        --text-base-d: #2F184B;
      } */
    </style>
  </head>
  <body class="body-index">
    <header class="flex">
      <img src="" alt="Logo" />

      <div class="search-bar">
        <i></i>
        <p>Pesquisar (Ctrl + D)</p>
      </div>
      <div class="user-info">
        <img src="../assets/img/account.svg" alt="Profile" />
        <p>User</p>
      </div>
    </header>

    <nav class="flex flex-col align-items-center">
    <div class="icon-gruop">
      <a href="#notifications" class="icon">
        <svg viewBox="0 0 24 24" width="24" height="24"><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/></svg>
      </a>
      <a href="#chat" class="icon">
        <svg viewBox="0 0 24 24" width="24" height="24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"/></svg>
      </a>
      <a href="#class" class="icon">
        <svg height="24px" viewBox="0 -960 960 960" width="24px"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM247-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm466 0q-47 47-113 47-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113q0 66-47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-240Zm0-400Z"/></svg>
      </a>
      <a href="#calendar" class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-188.5-11.5Q280-423 280-440t11.5-28.5Q303-480 320-480t28.5 11.5Q360-457 360-440t-11.5 28.5Q337-400 320-400t-28.5-11.5ZM640-400q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-188.5-11.5Q280-263 280-280t11.5-28.5Q303-320 320-320t28.5 11.5Q360-297 360-280t-11.5 28.5Q337-240 320-240t-28.5-11.5ZM640-240q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>
      </a>  

      <a href="#community" class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M240-320q-33 0-56.5-23.5T160-400q0-33 23.5-56.5T240-480q33 0 56.5 23.5T320-400q0 33-23.5 56.5T240-320Zm480 0q-33 0-56.5-23.5T640-400q0-33 23.5-56.5T720-480q33 0 56.5 23.5T800-400q0 33-23.5 56.5T720-320Zm-240-40q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM284-120q14-69 68.5-114.5T480-280q73 0 127.5 45.5T676-120H284Zm-204 0q0-66 47-113t113-47q17 0 32 3t29 9q-30 29-50 66.5T224-120H80Zm656 0q-7-44-27-81.5T659-268q14-6 29-9t32-3q66 0 113 47t47 113H736ZM88-480l-48-64 440-336 160 122v-82h120v174l160 122-48 64-392-299L88-480Z"/></svg>
      </a>
    </div>

    <div class="setting-gruop">
      <a href="#settings" class="icon">
        <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"/></svg>
      </a>
    </div>
  </nav>

    <main class="flex flex-col">
      <section id="class" class="content-section">

        <h1>Turmas</h1>
        <button>Ingressar em uma turma ou organização</button>
        <div class="card-gruop">
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-1D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
  
              <img src="../assets/img/profile-pic-card.jpg" alt="">
  
              <button>Ver Calendário</button>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
  
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-01D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
  
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-01D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-01D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-01D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-01D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
          <div class="card">
            <div class="info-classroom">
              <img src="../assets/img/restart.svg" alt="Icon Turma" />
              <h2>SEX-01D</h2>
            </div>
            <div class="more-info-classroom">
              <p>Professor Roberto</p>
              <p>Matéria: Sexologia</p>
            </div>
  
            <div class="more-info-input">
              <label>
                <input type="checkbox" />
                <img src="../assets/img/arrow-card.svg" />
              </label>
            </div>
          </div>
        </div>
      </section>

      <section id="calendar" class="content-section disable-section">
        <aside>
          <h2>Tarefas do Mês</h2>
          <ul>
            <li>Programação Orientada à Objetos - Exercício 1 | 10/05</li>
            <li>Landing Page com React.js e TypeScript | 13/05</li>
            <li>Lógica II - Exercício 1 ao 10 | 13/05</li>
            <li>Programação Orientada à Objetos - Exercício 2 | 17/05</li>
          </ul>
        </aside>
        <div class="calendar-header">
          <h1>Calendário</h1>
          <div class="month-selector">
            <button class="prev-month"><</button>
      <h2>Maio 2026</h2>
      <button class="next-month">></button>
          </div>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Dom</th>
        <th>Seg</th>
        <th>Ter</th>
        <th>Qua</th>
        <th>Qui</th>
        <th>Sex</th>
        <th>Sáb</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="prev-month">26</td>
        <td class="prev-month">27</td>
        <td class="prev-month">28</td>
        <td class="prev-month">29</td>
        <td class="prev-month">30</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td class="today">7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
      </tr>
      <tr>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
      </tr>
      <tr>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>
      </section>

      <section id="chat" class="content-section disable-section">
  <header class="chat-header">
    <div class="header-left">
      <button class="back-btn">&lt;</button>
      <div class="group-icon">Gurupos</div>
      <button class="filter-btn">Geral</button>
    </div>
    <div class="header-right">
      <span class="dots">...</span>
    </div>
  </header>

  <div class="chat-content">
    <div class="message incoming">
      <img src="../assets/img/profile-pic-card.jpg" alt="Avatar" class="avatar">
      <div class="bubble-group">
        <span class="username">Antônio Manso Pacífico de Oliveira Sossegado</span>
        <div class="bubble">Ai vei muito Bangers isso aí, não ligo O-D</div>
      </div>
    </div>

    <div class="message outgoing">
      <div class="bubble-group">
        <div class="bubble">Pessoal precisamos terminar as atividades antes da data de entrega se não, estamos ferrados.</div>
      </div>
      <img src="../assets/img/profile-pic-card.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="message incoming">
      <img src="../assets/img/profile-pic-card.jpg" alt="Avatar" class="avatar">
      <div class="bubble-group">
        <span class="username">Lança Perfume Rodometálico de Andrade</span>
        <div class="bubble">Só sei que eu sou o Mior</div>
      </div>
    </div>

    <div class="message incoming">
      <img src="../assets/img/profile-pic-card.jpg" alt="Avatar" class="avatar">
      <div class="bubble-group">
        <span class="username">Excelza Teresinha do Menino Jesus da Costa e Silva</span>
        <div class="bubble audio">
          <button class="play-btn">(btn de pause add dps)</button>
          <div class="wave">|||||||||||||||||||||||||</div>
          <span class="time">07:24</span>
        </div>
      </div>
    </div>
  </div>
</section>
      <!-- Parte de teste de classes de container. Os cards ficaram aqui. Pode mudar o quanto quiser
      só tenha certeza de utilizar o esquema de ID's certos que está no index.js no backend. -->

      <!-- <div id="classesContainer"></div> -->
    </main>

    <footer class="flex">
      <a href="">Política de Privacidade</a>
      <a href="">Termos de Uso</a>
    <script src="../../backend/index.js"></script>
    <script>

      document.addEventListener('DOMContentLoaded', () => {
const links = document.querySelectorAll('nav a.icon');
const sections = document.querySelectorAll('main section.content-section');

links.forEach(link => {
    link.addEventListener('click', (e) => {
    e.preventDefault(); 
    const targetId = link.getAttribute('href').replace('#', '');
    const targetSection = document.getElementById(targetId);

    if (targetSection) {
        sections.forEach(sec => sec.classList.add('disable-section'));
        targetSection.classList.remove('disable-section');
    }
    });
});
      });
    </script>
  </body>
</html>

<!-- Componente Card com Imagem -->

<!-- <div class="card flex flex-col items-center">
      <img src="../assets/img/1920x1080.jpg" alt="">
    </div> -->
